.header {
    display: flex;
    justify-content: space-between;
    /* título a la izquierda, botones a la derecha */
    align-items: center;
    background-color: white;
    padding: 1rem 2rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);

}

.header h1 {
    color: #2e7d32;
    font-family: Arial, sans-serif;
    font-size: 2rem;
}

.nav-buttons {
    display: flex;
    gap: 1rem;
}

/* Botón Registrarse */
.navRegistrarseBtn .btn {
    padding: 1rem 1.2rem;
    background-color: #2e7d32;
    color: white;
    text-decoration: none;
    border-radius: 15px;
}

/* Botón Iniciar Sesión */
.navIniciarSesionBtn .btn {
    padding: 1rem 1.2rem;
    border: 3px solid #2e7d32;
    background-color: white;
    boder: 1px solid #2e7d32;
    color: black;
    text-decoration: none;
    border-radius: 15px;
}

/* Hover de botones */
.nav-buttons .btn:hover {
    background-color: #1b5e20;
    color: white;
}

body {
    margin: 0;
}

/* main */

main {
    padding: 2rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*titulo y descripcion */

.titulo {
    text-align: left;
    color: #000;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.descripcion {
    text-align: left;
    color: #6b7280;
    font-size: 1.40rem;
    margin-bottom: 2rem;
}

/* agendar cita */
.agendarCita .btn:hover {
    background-color: #175da3;
    color: white;

}

.navAgendarCitaBtn .btn {
    padding: 1rem 1.2rem;
    background-color: #1976D2;
    color: white;
    text-decoration: none;
    border-radius: 15px;
}

/* pie de pagina*/

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: #0a2b4d;
    color: white;
    padding: 0.1rem 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


/* http://localhost:8080/veterinaria-patitas/home/index.html */